:root {
  --gauge-size: 250px;
  --bar-color: blue;
  --bar-width: calc(var(--gauge-size) / 13);
  --shadow-color: lightgray;
  --animation-speed: .5s;
  --error-color: red;
  --error-size: 20px;
  --error-icon: inline("assets/alert.svg");
}

.wrapper {
  width: var(--gauge-size);
  height: var(--gauge-size);
  position: relative;

  & *, & *:after, & *:before {
    box-sizing: border-box;
  }

  & .gauge {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    clip: rect(0, var(--gauge-size), var(--gauge-size), calc(var(--gauge-size) / 2));

    & .progressBar {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      clip: rect(0, calc(var(--gauge-size) / 2), var(--gauge-size), 0);

      border-width: var(--bar-width);
      border-style: solid;
      border-color: var(--bar-color);
      border-radius: 50%;
    }
  }

  & .error {
    width: var(--error-size);
    height: var(--error-size);
    position: absolute;

    top: 10px;
    right: 10px;
    background-color: var(--error-color);
    mask: var(--error-icon) no-repeat;
    mask-size: cover;

    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
  }

  & .hidden {
    visibility: hidden;
    opacity: 0;
  }

  & .label {
    width: 100%;
    height: 100%;
    position: absolute;
    background: none;
  }

  & .left {
    transition: all var(--animation-speed) ease-in-out;
  }

  & .right {
    transition: border var(--animation-speed) ease-in-out;
  }

  & .shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    border-width: var(--bar-width);
    border-style: solid;
    border-color: var(--shadow-color);
    border-radius: 50%;
  }
}

.progressLess {
  & .gauge {
    & .right {
      display: none;
    }
  }
}

.progressMore {
  & .gauge {
    clip: rect(auto, auto, auto, auto);

    & .right {
      transform: rotate(180deg);
    }
  }
}
