:root {
  --duck: "assets/duck.png";
}

.duck-wrapper {
  width: 300px;
  height: 300px;
  border: 1px solid blue;

  &.visible {
    display: block;
  }

  &.hidden {
    display: none;
  }

  & .duck {
    height: height(var(--duck));
    line-height: height(var(--duck), 2);
    width: width(var(--duck));
    padding-right: width(var(--duck), 3);
    background: inline(var(--duck)) no-repeat right;
  }
}
