:root {
  --gauge-size: 250px;
  --bar-width: calc(var(--gauge-size) / 13);
  --shadow-width: var(--bar-width);
  --shadow-color: lightgray;
  --animation-speed: .5s;
}

.wrapper {
  width: var(--gauge-size);
  height: var(--gauge-size);
  position: relative;

  & *, & *:after, & *:before {
    box-sizing: border-box;
  }

  & .container {
    width: 100%;
    height: 100%;

    & .gauge {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;

      & .progressBar {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        clip: rect(0, calc(var(--gauge-size) / 2), var(--gauge-size), 0);

        border-style: solid;
        border-radius: 50%;
      }
    }

    & .hidden {
      visibility: hidden;
      opacity: 0;
    }

    & .label {
      width: 100%;
      height: 100%;
      position: absolute;
      background: none;
    }

    & .left {
      transition: all var(--animation-speed) ease-in-out;
    }

    & .right {
      transition: border var(--animation-speed) ease-in-out;
    }

    & .shadow {
      width: 100%;
      height: 100%;
      position: absolute;
      border-width: var(--shadow-width);
      border-style: solid;
      border-color: var(--shadow-color);
      border-radius: 50%;
    }
  }
}

.progressLess {
  clip: rect(0, var(--gauge-size), var(--gauge-size), calc(var(--gauge-size) / 2));

  & .right {
    display: none;
  }
}

.progressMore {
  clip: rect(auto, auto, auto, auto);

  & .right {
    transform: rotate(180deg);
  }
}

.stack {
  width: 100%;
  height: 100%;
  position: absolute;
}

.stackTop {
  & .progressBar {
      border-width: var(--bar-width);
  }
}

.stackBottom {
  & .progressBar {
      border-width: var(--bar-width);
  }
}

/* Browsers tend to run into aliasing problems when stacking multiple round shapes. */
.aliasingFix {
  & .shadow {
    transform: scale(0.999);
  }

  & .stackBottom {
    transform: scale(0.997);

    & .progressBar {
      border-width: calc(var(--bar-width) * 0.97);
    }
  }
}
