:root {
  --widget-size: 250px;
  --border-width: calc(var(--widget-size) / 13);
  --font-size: 150px;
  --color: lightgray;
}

.wrapper {
  width: var(--widget-size);
  height: var(--widget-size);
  position: relative;

  & .sadPanda {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--font-size);
    color: var(--color);

    border: var(--border-width) solid var(--color);
    border-radius: 50%;
  }
}
