:root {
  --error-color: red;
  --error-size: 20px;
  --error-icon: inline("assets/alert.svg");
}

.error {
  width: var(--error-size);
  height: var(--error-size);
  position: absolute;

  top: 10px;
  right: 10px;

  background-color: var(--error-color);
  mask: var(--error-icon) no-repeat;
  mask-size: cover;

  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  animation: grow 0.3s infinite alternate ease-in-out;
}

@keyframes grow {
  from {
    transform: scale(0.95);
  }

  to {
    transform: scale(1.05);
  }
}
