:root {
  --error-color: red;
  --error-size: 20px;
  --error-icon: inline("assets/alert.svg");
}

.error {
  width: var(--error-size);
  height: var(--error-size);
  position: absolute;

  top: 10px;
  right: 10px;

  background-color: var(--error-color);
  mask: var(--error-icon) no-repeat;
  mask-size: cover;

  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
}
