:root {
  --error-color: red;
  --error-size: 20px;
  --error-icon: inline("assets/alert.svg");
}

.error {
  width: var(--error-size);
  height: var(--error-size);
  position: absolute;

  top: 10px;
  right: 10px;

  background-color: var(--error-color);
  mask: var(--error-icon) no-repeat;
  mask-size: cover;

  opacity: 0;
  transition: opacity 1s ease-in-out;
  animation: grow 0.3s infinite alternate ease-in-out;
}

.errorTriggered {
  opacity: 1.0;
}

.grayOut {
  opacity: 1.0;
  filter: grayscale(0);
  transition: filter 1s ease-in-out, opacity 1s ease-in-out;;
}

.grayOutTriggered {
  opacity: 0.5;
  filter: grayscale(0.90);
}

@keyframes grow {
  from {
    transform: scale(0.95);
  }

  to {
    transform: scale(1.05);
  }
}
