@import "app/styles/fadein.css";

:root {
  --reading-spacing-vertical: 10px;
  --reading-spacing-horizontal: 25px;
}

.widgetWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s normal ease-in-out;

  & .readingWrapper {
    margin: var(--reading-spacing-vertical);
    transition: all 0.3s ease-in-out;
  }

  & .readingWrapper:hover {
    transform: scale(1.05);
  }
}
