:root {
  --icon-chart: inline("assets/chart.svg");
  --icon-cogs: inline("assets/cogs.svg");
}

.wrapper {
  position: fixed;
  right: 0;
  bottom: 0;

  & .button {
    position: absolute;
    right: 23px;
    bottom: 23px;

    width: 50px;
    height: 50px;
    cursor: pointer;
    background: lightgray;
  }
}

.icon-chart {
  mask: var(--icon-chart) no-repeat;
  mask-size: cover;
}

.icon-cogs {
  mask: var(--icon-cogs) no-repeat;
  mask-size: cover;
}
