@import "app/styles/fadein.css";

:root {
  --icon-chart: inline("assets/chart.svg");
  --icon-cogs: inline("assets/cogs.svg");
  --spacing: 15px;
}

.wrapper {
  position: fixed;
  right: 0;
  bottom: 0;

  & .button {
    position: absolute;
    right: var(--spacing);
    bottom: var(--spacing);

    width: 50px;
    height: 50px;
    cursor: pointer;
    background: lightgray;

    animation: fadeIn 0.5s normal ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  & .button:hover {
    transform: scale(1.1);
  }
}

.iconChart {
  mask: var(--icon-chart) no-repeat;
  mask-size: cover;
}

.iconCogs {
  mask: var(--icon-cogs) no-repeat;
  mask-size: cover;
}
